snippet func "function"
${1:name} :: $2 -> $3
$1 ${4:args} = $5
endsnippet
snippet main "main"
main :: IO ${1:()}
main = $2
endsnippet
snippet type "type"
type $1 = $2
endsnippet
snippet data "data"
data $1 = $2
endsnippet
snippet "modu?l?e?" "module" r
module ${1:Name} where
endsnippet
snippet "exmodu?l?e?" "module with exports" r
module ${1:Name}
	( $2
	) where
endsnippet
